@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ProductRegister";
}
@section Styles{
    <link href="~/assets/vendors/select2/select2.css" rel="stylesheet">
    <style>
        label.is-invalid {
            color: #de4436;
        }
    </style>
}

@section Scripts {
    <script>
        APP_CONFIG = {
            ApiGetColorAll: decodeURIComponent('@Configuration["ApiUrl"]' + '@Configuration["ApiGetColorAll"]'),
            ApiGetSizeAll : decodeURIComponent('@Configuration["ApiUrl"]' + '@Configuration["ApiGetSizeAll"]'),
            ApiUpdateQuantity : decodeURIComponent('@Configuration["ApiUrl"]' + '@Configuration["ApiUpdateQuantity"]'),
            ApiGetQuantity : decodeURIComponent('@Configuration["ApiUrl"]' + '@Configuration["ApiGetQuantity"]'),
        }
    </script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/quill/quill.min.js"></script>
    <script src="~/assets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/controller/product/register.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.js"></script>
    <script src="~/controller/product/quantity-management.js"></script>

    <script>
        var productRegister = new productRegisterController();
        productRegister.initialize();
    </script>
}

<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="../assets/images/others/thumb-16.jpg" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">Skinny Men Blazer</h4>
                <p class="text-muted m-b-0">Code: #5325</p>
            </div>
        </div>
        <div class="m-b-15">
            <button id="btnBack" class="btn btn-primary">
                <i class="anticon anticon-save"></i>
                <span>Back</span>
            </button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-edit-images">Product Image</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
        </li>
    </ul>
</div>
<div class="tab-content m-t-15">
    <div class="tab-pane fade show active" id="product-edit-basic">
        <div class="card">

            <form id="frmProduct">
                <div class="card-body">
                    <div class="form-group">
                        <button id="btnSave" style="float:right;" class="btn btn-primary">
                            <i class="anticon anticon-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Product Name <code>*</code></label>
                        <input type="text" name="inputProductName" class="form-control" id="txtProductName" placeholder="Product Name">
                        <input id="hdfProductId" type="hidden" value="0" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Price</label>
                        <input type="number" name="inputPrice" class="form-control" id="txtPrice" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Price Promotion</label>
                        <input type="number" name="inputPricePromotion" class="form-control" id="txtPromotionPrice" placeholder="Price Promotion">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">Price Original</label>
                        <input type="number" name="inputPriceOriginal" class="form-control" id="txtOriginalPrice" placeholder="Price Original">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productCategory">Category</label>
                        <select class="custom-select" name="inputCategory" id="ddlCategory">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Tags</label>
                        <input type="text" class="form-control" id="txtTags" placeholder="Tags">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Seo Keyword</label>
                        <input type="text" class="form-control" id="txtSeoKeyword" placeholder="Brand" value="H&M">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Seo Meta Description </label>
                        <input type="text" class="form-control" id="txtMetaDescription" placeholder="Brand" value="H&M">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Seo Page Title</label>
                        <input type="text" class="form-control" id="txtSeoPageTitle" placeholder="Brand" value="H&M">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Seo Alias</label>
                        <input type="text" class="form-control" id="txtSeoAlias" placeholder="Brand" value="H&M">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold" for="productStatus">Status</label>
                        <select class="custom-select" id="productStatus">
                            <option value="inStock" selected>In Stock</option>
                            <option value="outOfStock">Out of Stock</option>
                            <option value="pending">Pending</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Product Quantity-->
    <div class="tab-pane fade" id="product-edit-option">
        <div class="table-responsive">
            <form id="frmQuantity">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Color</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="table-quantity-content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <button class="btn btn-xs btn-success" type="button" id="btn-add-quantity">Thêm</button>
                            </td>
                            <td colspan="1">
                                <button class="btn btn-primary" type="button" id="btnSaveQuantity">Save</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <div class="tab-pane fade" id="product-edit-description">
        <div class="card">
            <div class="card-body">
                <div id="productDescription">
                    <p>Special cloth alert. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. They will try to close the door on you, just open it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They key is to have every key, the key to open every door.The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Lion! I’m up to something. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="product-edit-images">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid" src="../assets/images/others/product-1.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="../assets/images/others/product-2.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="../assets/images/others/product-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="template-table-quantity">
    <tr data-id="{{Id}}">
        <td class="m-b-10">{{{Colors}}}</td>
        <td class="m-b-10">{{{Sizes}}}</td>
        <td class="m-b-10"><input class="txtQuantity form-control" name="inputQuantity" style="min-width:200px;" type="number" min="1" value="{{Quantity}}" /></td>
        <td><button class="btn btn-xs btn-danger btn-delete-quantity" type="button"><i class="fa fa-trash"></i></button></td>
    </tr>
</script>